In [2]:
# Write a program to remove duplicate elements from a list using a set.
l1=[1,32,4,45,3,1,2,4,5,3,2,3,2,4,2,1,13,3,3,21,1,2,121212,3,3,4,3,43]
print(set(l1))

{32, 1, 2, 3, 4, 5, 43, 45, 13, 21, 121212}

In [7]:
# Take a list from user and print the number of unique elements.
import ast
list_range=int(input("enter a the range of the list which you want:\n"))
l1=[]
for i in range(list_range):
    l1.append(ast.literal_eval(input("enter your {} element".format(i))))
print(set(l1),len(set(l1)))

enter a the range of the list which you want:
 5
enter your 0 element 12
enter your 1 element 12
enter your 2 element 12.0111
enter your 3 element 12.0111
enter your 4 element "shikhar"

3

In [12]:
# Write a program to find common elements between two sets.
s1={12,21,12,12,12,2323312,232,23,232,3,4,32,4,324,23,4,4,32,423,433}
s2={221,21232,3,223,213,21,321,2,12,123,3,1232,1,323,12,23,2,3312,3,3}
print(s1&s2)

{3, 12, 21, 23}

In [13]:
# Find union of two sets without using the built-in union() method.
s1={12,21,12,12,12,2323312,232,23,232,3,4,32,4,324,23,4,4,32,423,433}
s2={221,21232,3,223,213,21,321,2,12,123,3,1232,1,323,12,23,2,3312,3,3}
print(s1|s2)

{321, 2, 3, 4, 324, 1, 323, 12, 1232, 21, 213, 23, 221, 223, 32, 423, 232, 2323312, 433, 21232, 3312, 123}

In [15]:
# Write a program to find the maximum and minimum element in a set.
s1={12,21,12,12,12,2323312,232,23,232,3,4,32,4,324,23,4,4,32,423,433}
s2={221,21232,3,223,213,21,321,2,12,123,3,1232,1,323,12,23,2,3312,3,3}
import math
maxa=-math.inf
mini=math.inf
for i in s1:
    if  maxa<i:
        maxa=i
    if mini>i:
        mini=i
print("{maxa}",mini)

2323312 3