In [2]:
#Write a Python program to create an empty tuple.
tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [3]:
# Create a tuple containing a single item 5
ple=(5,)
print(ple,type(ple),sep="   ")
a=(5)
print(a,type(a),sep="   ")

(5,)   <class 'tuple'>
5   <class 'int'>

In [4]:
# Given  t = (10, 20, 30, 40, 50), write code to access the third element (30).
t = (10, 20, 30, 40, 50)
print(t[2])

30

In [6]:
# Slice the tuple t = (0, 1, 2, 3, 4, 5) to extract only the elements (2, 3, 4).
t = (0, 1, 2, 3, 4,  5)
print(t[2:5])

(2, 3, 4)

In [7]:
#Write a program that attempts to change the first element of t = (1, 2, 3) to 99. What happens? Write the code to demonstrate the result.
t-(1,2,3)
t[0]=99
print(t)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [8]:
##Write a program that attempts to change the first element of t = (1, 2, 3) to 99.
t=(1,2,3)
a=99
l=list(t)
l[0]=a
print(tuple(l))

(99, 2, 3)

In [9]:
#Concatenate two tuples t1 = (1, 2) and t2 = (3, 4) into a new tuple t3.
t1=(1,2)
t2=(3,4)
t3=t1+t2
print(t3)

(1, 2, 3, 4)

In [10]:
#What is the output of (1, 2) * 3? Write the code to verify your answer.
print((1,2)*3)

(1, 2, 1, 2, 1, 2)

In [13]:
# Given t = (1, 2, 2, 2, 3), find the count of the number 2 and the total length of the tuple.
t=(1,2,2,2,3)
count=0
9for i in t:
    if i==2:
        count+=1
print(f"count of the {t} ==",count,sep=" ")
print(f"Length of the {t} ==",len(t),sep=" ")

count of the (1, 2, 2, 2, 3)== 3
Length of the (1, 2, 2, 2, 3)== 5

In [18]:
# Write a program to check if the element "apple" exists in the tuple t = ("banana", "orange", "apple").
t = ("banana", "orange", "apple")
for i in range(len(t)):
    if t[i] =="apple":
        print(f"Yes the  tuple {t} have the \"apple\" at the {i} th position.")
        break
else:
    print("No the tuple didn't have it.")

Yes the  tuple ('banana', 'orange', 'apple') have the "apple" at the 2 th position.

In [22]:
# Unpack the tuple t = (100, 200, 300) into three variables a, b, and c.
a,b,c=(100,200,300)
print(a , b, c)

100 200 300

In [24]:
# Swap the values of two variables x = 10 and y = 20 using tuple unpacking in a single line.
x=10 
y=20
t4=(y,x)
x , y=t4
print(x,y)
#tuple unpacking in single line
x, y = y, x
print(x, y)

20 10
10 20

In [28]:
#Write a program to delete the tuple t = (1, 2, 3) completely from memory.
t=(1,2,3)
del t
print(t)

NameError: name 't' is not defined

In [26]:
# Convert the list ['a', 'b', 'c'] into a tuple.
l1=['a','b','c']
print(tuple(l1))

('a', 'b', 'c')

In [32]:
# Find the index of the element 30 in the tuple t = (10, 20, 30, 40, 50).
t=(10,20,30,40,50)
for i in range(len(t)):
    if t[i]==30:
        print(i)
        break
else:
    print("Not forund")

2

In [33]:
# Given the nested tuple t = (1, (2, 3), 4), write code to access the element 2.
t=(1,(2,3),4)
print(t[1][0])

2

In [39]:
# Critical Thinking: Create a tuple t = (1, 2, [3, 4]). Try to change the 3 to 99 inside the list. Does it work? Why or why not?
t = (1, 2, [3, 4])
for i in t:
    if i==[3,4]:
        for item in range(len(i)):
            if i[item]==3:
                i[item]=99
print(t)

(1, 2, [99, 4])

In [37]:
# Write a function get_min_max that takes a tuple of numbers and returns both the minimum and maximum values as a tuple.
import math
t=(10,20,30,40,50)
def get_min_max(t):
    maxi=-math.inf
    for i in t:
        if maxi<i:
            maxi=i
    print(maxi)       
    mini=math.inf
    for i in t:
        if mini>i:
            mini=i
    print(mini)
get_min_max(t)

50
10

In [45]:
# Sort the tuple t = ("banana", "apple", "cherry") alphabetically. (Hint: You might need to convert it temporarily).
t=list(("banana","apple","cherry"))

for i in range(len(t)-1):
    if t[i]>t[i+1]:
        t[i],t[i+1]=t[i+1],t[i]
print(tuple(t))

('apple', 'banana', 'cherry')

In [46]:
# Create a dictionary where the keys are tuples representing coordinates, e.g., {(0,0): "Origin", (1,0): "Right"}.

# Dictionary with tuple keys
coordinates = {
    (0, 0): "Origin",
    (1, 0): "Right",
    (0, 1): "Up",
    (1, 1): "Top-Right",
    (-1, 0): "Left",
    (0, -1): "Down"
}

# Accessing values
print(coordinates[(0, 0)])   # Output: Origin
print(coordinates[(1, 0)])   # Output: Right
print(coordinates[(0, 1)])   # Output: Up

Origin
Right
Up