In [1]:
##Exercise 1: Perform List Manipulation
my_list = [10, 20, 30, 40, 50]
# 1) Change Element: Change the second element of a list to 200 and print the updated list.
my_list[1]=200
print(my_list)
# 2) Append Element: Add 600 o the end of a list and print the new list.
my_list.append(600)
print(my_list)
# 3) Insert Element: Insert 300 at the third position (index 2) of a list and print the result.
my_list.insert(2,300)
print(my_list)
# 4) Remove Element (by value): Remove 600 from the list and print the list.
my_list.remove(600)
print(my_list)
# 5) Remove Element (by index): Remove the element at index 0 from the list print the list
my_list.pop(0)
print(my_list)

[10, 200, 30, 40, 50]
[10, 200, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50]
[200, 300, 30, 40, 50]

In [2]:
##Exercise 2: Sum and average of all numbers in a list
my_list = [10, 20, 30, 40, 50]
total=0
avg=0
for i in range(len(my_list)):
    total+=my_list[i]
avg=total/len(my_list)
print("Total: ",total)
print("Average: ",avg)

Total:  150
Average:  30.0

In [3]:
##Exercise 3: Reverse a list
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

In [4]:
##Exercise 4: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
rev=[i**2 for i in numbers] # or rev=[numbers[i]**2 for i in range(len(numbers))]
print(rev)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
##Exercise 5: Find Maximum and Minimum
#Find and print the largest and smallest number in a list [8, 2, 15, 1, 9].
import math
MAX=-math.inf
MIN=math.inf
num=[8,2,15,1,9]
for i in range(len(num)):
    if MAX<num[i]:
        MAX=num[i]
    if MIN>num[i]:
        MIN=num[i]
print("max value: ",MAX)
print("min value: ",MIN)

max value:  15
min value:  1

In [6]:
##Exercise 6: Count Occurrences
#Count and print how many times 'Football' appears in list.
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']
count=0
if len(sports)>0:
    for i in sports:
        if i=='Football':
            count+=1
print("Occurances of the \"Football\" : ",count)

Occurances of the "Football" :  2

In [7]:
## Exercise 7: sort the list 
num=[5,1,2,4,7,5,3,4,444,4,4,4,4,3,3,3,3,2,2,2,1,1,1]
sotr=sorted(num)
print(sotr)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 7, 444]

In [8]:
## Exercise 8: Create a copy of a list
num=[20,3,30,14,15,50,504]
num_c=[]
for i in num:
    num_c.append(i)
print("manual logic : ",num_c)  
#             OR use a inbuilt function
num_c=num.copy()
print("using copy function: ",num_c)

manual logic :  [20, 3, 30, 14, 15, 50, 504]
using copy function:  [20, 3, 30, 14, 15, 50, 504]

In [9]:
##Exercise 9: Combine two lists
list_a = [1, 2]
list_b = [3, 4]
# list_a.extend(list_b)
# print(list_a)
combined_list_unpacking = [*list_a, *list_b]
print("Combined list (using unpacking *):", combined_list_unpacking)

Combined list (using unpacking *): [1, 2, 3, 4]

In [10]:
##Exercise 10: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in  list1:
    if i=="":
        list1.remove("")
print(list1)         
 #OR we can use a inbuilt fuction know as filter
#res = list(filter(None, list1))

['Mike', 'Emma', 'Kelly', 'Brad']

In [14]:
##Exercise 11: Remove Duplicates from list
list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

print(set(list_with_duplicates))

{1, 2, 3, 4, 5}

In [15]:
##Exercise 12: write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i==20:
        list1.remove(20)
print(list1)

[5, 15, 25, 50]